Source: mpcrouter
Section: unknown
Priority: optional
Maintainer: Birger Koblitz <git@logicog.de>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2

Package: mpcrouter
Architecture: all
Depends:
  mkcert, libnss3-tools, ruby-rack, ruby-rack-ssl, puma, ruby-rubygems, rubygems-integration, ruby-sinatra,
  ruby-sinatra-contrib, nftables, network-manager, dnsmasq, radvd, ${misc:Depends}
Description: Web-based Micro-PC Router Setup 
 mpcrouter can be used to set up a minimal web-server on any Micro-PC with 2 
 Ethernet interface to configure it as a router, e.g. for Internet access behind
 a DSL modem or Fiber medium converter.
